* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Special Elite";
  background-color: white;
}

.menu {
  height: 1.5rem;
}

.article {
  line-height: 2rem;
}

span {
  padding: 3px;
  border-radius: 3px;
}

span.year,
span.genre {
  margin: 0px 5px;
  background-color: lightgray;
}

span.tooltip-container {
  color: blue;
}

span.tooltip-container:hover {
  text-decoration: underline;
}

.tooltipBox {
  color: black;
  line-height: 20px;
}
